.gradient-background {
    background: linear-gradient(300deg, #FF6D28, #FCE700, #00F5FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .intro{
    background-color: #c5dbdd;
  }

  .card-cover{
    background-size: cover;
  }
  .profile-image{
    height: 200px;
    border-radius: 50%;
  }
  .text-body-emphasis{
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
  }
  .footer{
    background-color: #C8FFE0;
  }